<section class="new-train" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="50vw" fxFlex.sm="80vw" fxFlex.xs="100vw">
    <mat-card-title fxLayoutAlign="center">You are about to begin new training!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Select Type">
          <mat-option *ngFor="let exercise of exercises" [value]="exercise.exId">
            {{exercise.exName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" (click)="onStartClick()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
