<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onSidenavClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-elem">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onSidenavClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-elem">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/train" (click)="onSidenavClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-elem">Train</span>
  </a>
  <mat-list-item>
    <button *ngIf="isAuth" mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-elem">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>